img{
    width: 150px;
    height: 150px;
    float: left;
    margin: 15px 15px 15px 15px;
    border: 2px solid black;
}

h1{
    padding-top: 15px;
    margin-bottom: -30px;
    font-size: 75px;
}

h3{
    font-size: 37px;
}

.question{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.answer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}